$color-main: #E4242D;
$color-secundary:#ffffff;

@mixin btn-style{
    background-color: $color-main;
    color: $color-secundary;
    border-radius: .5rem;
    border:solid 1px $color-main;
        &:hover{
            border:solid 1px $color-main;
            background-color: $color-secundary;
            color: $color-main;
            box-shadow: 0 0 1rem $color-main;
        }
}

@mixin card-content-style{
    display:flex;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
        img{
            height: 2rem;
        }
}

@mixin cont-p{
    p{
        padding-top: 1rem;
        font-weight: 700;
        font-style: italic
    }
}

@mixin text-bold{
    font-size: 2rem;
    font-weight: 800
}

@mixin text-promo{
    line-height: 1.2rem;
    font-size: 1.5rem;
    color: $color-main;
    font-weight: 800;
}

.btn-main{
    @include btn-style;
    font-weight: 600;
    padding: .5rem;

    &-s{
        @include btn-style;
        font-size: .7rem;
        font-weight: 800;
        padding: .3rem;
    }

}


.btn-left{
    top: 50%;
    left: 4rem;
    z-index: 1;
}

.btn-right{
    top: 50%;
    left: 100rem;
    z-index: 1;
}

.plan-card-dsc{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 35rem;
    border:none;
    border-radius: .5rem;
    box-shadow: 0.1rem .1rem .5rem $color-main;   
    background: linear-gradient(0deg, rgba(195, 34, 34, 0.214) -30%, rgba(255, 255, 255, 0.603) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    align-items: center;
    .title-plan{    
        display: flex;
        margin-top: .09rem;
        background-color: #da291c;
        color: $color-secundary;
        border-top: none;
        border-radius: 0 0 .5rem .5rem ;            
        width: 60%;
        height: 6%;
        box-shadow: 0  0 .5rem #626262e6;  
        h3{
            padding: .2rem 0 0;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .speed{
        font-size: 2rem;
        height: 3rem;
        gap: .7rem;
        margin-top: .5rem;
        @include card-content-style;
        @include cont-p;
        img{
            color: $color-main;
        }
        
    }
    .promo-speed{
        width: 100%;
        background-color: #494B4D;
        color: $color-secundary;
        font-size:.9rem;
        height: 2rem;
        margin-top: .5rem;
        @include card-content-style;
        @include cont-p;
    }
    .value{
        @include card-content-style;
        border-top: solid 1px #626262e6;  
        margin-top: 1.5rem;
        height: 12rem;
        width: 100%;
        .img-promo{
            margin-top: -1rem;
            // height: 7rem;
            display: flex;
            flex-direction: column;
            padding: 0  1rem;
            .text-promo{
                @include text-promo;
            }
            img{
                width: 100%;
                height: 40%;

            }
        }
        .value-promo{
            padding: 0 1.5rem;
            p{
                margin: 0;
                margin-top: -.6rem;
                padding: 0;
            }
            .text-promo{
                @include text-promo;
            }
            .val-promo{
                font-weight: 900;
                font-size: 2.5rem;
            }
        }
        .value-speed{
            padding: 0 1.5rem;
            border-right: solid 2px #000000e6;
            p{
                margin: 0;
                margin-top: -.6rem;
                padding: 0;
            }
            .text-normal{
                font-weight: 600;
            }
            .val-normal{
                @include text-bold;
            }
        }
        .imp{
            text-align: right;
        }
    }
    .contactanos{
        @include btn-style;
        width: 15rem;
        font-size: 1.5rem;
    }
    .descrip-desc{
        margin-top: 5rem;
        background-color: #000000;
        width: 100%;
        @include card-content-style;
        gap: .5rem;
        height: 6rem;
        border-radius: 0 0 .5rem .5rem ;
        color: $color-secundary;
        .text-desc{
            width: 55%;
            text-align: right;
            .text-promo{
                color: $color-main;
                font-weight: 900;
                font-size: 1.1rem;
            }
        }
        p{
            margin: 0;
            line-height: 1.2rem;
        }
        .porcen-desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: .5rem;
            .value-desc{
                font-weight: 800;
                font-size: 2.5rem;
            }
            .time-desc{
                font-size: 1.2rem;
            }
        }
        


    }
    

}

.benefits{
    .titulo{
        display: flex;
        justify-content: center;
        h2{
            color: $color-secundary;
            border-radius: 0 0 1rem 1rem;
            padding: .2rem 1rem;
            background-color: $color-main;
        }
    }
    .adicionales{
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .contenido{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30rem;
            img{
                width: 7rem;
            }
            p{
                font-weight: 500;
                text-align: center;
                font-size: 2rem;
                font-style: italic;
                text-decoration: underline;
            }
        }
        .claro-video{
            img{
                width: 10rem;
            }
        }
    }
}

.pie-cta{
    .text-pie{
        height: 6rem;
        padding: 0;

        p{
            font-size: 4rem;
            color: $color-secundary;
            font-weight: 600;
            animation: glowing 2s linear infinite;
        }
    }
    .btn-main{
        font-size: 1.6rem;
    }
}

@keyframes glowing{
    0% { text-shadow: 1px 1px 0px $color-secundary; }
    25% { text-shadow: 1px 1px 5px $color-secundary; } 
    50% { text-shadow: 1px 1px 10px $color-secundary; }   
    75% { text-shadow: 1px 1px 5px $color-secundary; } 
    100% { text-shadow: 1px 1px 0px $color-secundary; } 
}


.cont-carrusel{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16.8fr 1fr;
    .imagenes{
        position: relative;
        display: flex;
        justify-content: right;
        img{
            position: absolute;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .img.activo{
            opacity: 1;
        }
     }
     .selectores{
        height: 2rem;
        width: 100%;
        .puntos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 2rem;  
            list-style: none;   
            .punto{
                border-radius: 2rem;
                width: 1rem;
                height: 1rem;
                border: solid 1px rgb(187, 187, 187);
            }
            .punto.activo{
                    background-color: $color-main;
            }
        }
     }
}

.contactanos-form{
    background-color: #ffffffca;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6rem;
    right: 3rem;
    width: 28rem;
    height: 23rem;
    z-index: 1;
    border-radius: 1rem;
    align-items: center;
    .contactanos{
        @include btn-style()
    }
    .contenido{
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
        }
        .text-cont{
            display: flex;
            flex-direction: column;
            .text1{
                font-size: 1.8rem;
                font-weight: bold;
            }
            p{
                margin: 0;
                text-align: center;
                font-size: 1rem;
            }
        }
        
    }
    input{
        width: 85%;
        border-radius: .5rem;
        height: 2.5rem;
        text-align: center;
        border: none;
        background-color: #aeaeae;
        color: $color-secundary;
    }
    input::placeholder{
        color: $color-secundary;
    }
    .contactanos{
        margin-top: .7rem;
        font-size: 1.5rem;
    }
    .terminos{
        margin-top: 1.5rem;
        font-size: .5rem;
        font-weight: 600;
    }
    .titulo{
        padding: .2rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem 1rem 0 0 ;
        height: 4rem;
        width: 100%;
        background-color: $color-main;
        h3{
            font-size: 2.5rem;
            color: $color-secundary;
        }
    }

}

.redes{
    z-index: 1;
    height: 2rem;
    right: .5rem;
    top: 70vh;
    position: fixed;
    img{
        width: 3rem;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000000;
        p{
            font-size: .8rem;
        }
    }
}

.btn-mov{
    position: absolute;
    width: calc(100% / 3);
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    .carrusel-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height:3rem;
        width: 3rem;
        background-color: #494B4D;
        color: #ffffff;
        border-radius: 100%;
        font-size: 3rem;
        padding: 0 1rem .5rem;
        // position: absolute;
        cursor: pointer;
    }
}






